/* html, body {
    height: 100%
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
.predbody{
  display: flex;
  justify-content:space-between;
  align-items: center;

}  

.formpred {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
}

button {
  width: 100%
}

.cardisp1{
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
}