.predict {
    // height: 100vh;
    height: 1200px;
    min-height: auto;
    // background-color: rgb(247, 237, 245);
    display: flex;
    align-items: center;
    justify-content: center;
  
    .predictcard {
      width: 60%;
      height: 900px;
      // width: 60%;
      display: flex;
      background-color: white;
      border-radius: 10px;
      min-height: 600px;
      overflow: hidden;
  
      .left {
        flex: 1;
        background: 
          url("https://images.unsplash.com/photo-1542451313056-b7c8e626645f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60")
            center;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
  
        h1 {
          font-size: 100px;
          line-height: 100px;
        }
        
        p {
          height: 150px;
        }
  
        span {
          font-size: 14px;
        }
        
        button {
          width: 50%;
          height: 40px;
          padding: 10px;
          border: none;
          background-color: white;
          color: rgb(225, 34, 37) ;
          font-weight: bold;
          cursor: pointer;
        }
      }
  
      .right {
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
  
        h1 {
        color: #555;
        }
        
        form {
          display: flex;
          flex-direction: column;
          gap: 30px;
          
          input {
          border: none;
          // width: 200px;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
          }
          
          button {
            width: 50%;
            height: 40px;
            padding: 10px;
            border: none;
            background-color: #cd2a48;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }

        }
      }
    }
  }
  